
.principio {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .principio {
    width: 100%;
    padding: 40px;
    color: white;
    text-align: center;
    background: #5f44f8;
  }
  
  nav ul {
    background: #4212f0;
    text-align: center;
    list-style: none;
    overflow: hidden;
  
  }
  nav
  
  ul li {display:inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #1669c7;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #1d68bd;
    color: #ffffff;
    cursor:pointer;
    display:none;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }
.inicio {

    position: relative;
    top: 1250px;
    display: grid;

    grid-template-columns: 70%;

    grid-template-rows: 20%;

    grid-template-areas: unset;

    justify-content: center;
    animation-duration: 2s;
    animation-name:aparecer; 
    animation-iteration-count:initial;
}
.image {position: relative;
    width: 70%;}

p{font-style: italic; background-color: burlywood;
}
.video{position: relative;
width: 70%;}
ol li{text-decoration: underline;list-style: circle;}
body{
    background-image: url("../imagenes/img\ de\ fondo.jpg")
    ; background-repeat: no-repeat;background-color: rgb(250, 143, 232);background-size: cover; background-attachment: fixed;font-family: Georgia, 'Times New Roman', Times, serif;
}  
header {transform: translate(20px, 20px);

}
@keyframes aparecer {

    0% {opacity: 0;
    }
    100% {opacity: 1;
    }
}