
h1 {color:black;text-decoration: underline;
    animation-duration: 2s;
    animation-name:aparecer; 
    animation-iteration-count:initial;
}
.inicio {

    display: grid;

    grid-template-columns: 70%;

    grid-template-rows: 20%;

    grid-template-areas: unset;

    justify-content: center;
    animation-duration: 2s;
    animation-name:aparecer; 
    animation-iteration-count:initial;
}
.image {width: 50%;}
header{ display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 30%;
   grid-template-areas:unset;
}
p{font-style: italic; background-color: burlywood;
}

ol li{text-decoration: underline;list-style: circle;}
body{
    background-image: url("../imagenes/img\ de\ fondo.jpg")
    ; background-repeat: no-repeat;background-color: darksalmon;background-size: cover; background-attachment: fixed;
}
header {transform: translate(20px, 20px);

}
@keyframes aparecer {

    0% {opacity: 0;
    }
    100% {opacity: 1;
    }
}