@media (max-width: 468px)
{   
  .social {
    position: fixed;
    left: 0;
    top: 300px;
    z-index: 2000;
  }
  
  .social ul {
    list-style: none;
  }
  
  .social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 30px 25px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .social ul li .icon-facebook {
    background: #3b5998;
  }
  
  .social ul li .icon-twitter {
    background: #00abf0;
  }
  
  .social ul li .icon-googleplus {
    background: #d95232;
  }
  
  .social ul li a:hover {
    background: #000;
    padding: 10px 30px;
  }
  
  .principio {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .principio {
    width: 100%;
    padding: 40px;
    color: white;
    text-align: center;
    background: #5f44f8;
  }
  
  nav ul {
    background: #4212f0;
    text-align: center;
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #1669c7;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #1d68bd;
    color: #ffffff;
    cursor: pointer;
    display: none;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
      display: none;
    }
  }
  .inicio {
    position: relative;
    top: 40px;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 20%;
    grid-template-areas: unset;
    justify-content: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
  }
  
  .image {
    position: relative;
    width: 70%;
  }
  
  p {
    font-style: italic;
    background-color: burlywood;
  }
  
  .video {
    position: relative;
    width: 70%;
  }
  
  ol li {
    text-decoration: underline;
    list-style: circle;
  }
  
  body {
    background-image: url("../imagenes/img de fondo.jpg");
    background-repeat: no-repeat;
    background-color: rgb(250, 143, 232);
    background-size: cover;
    background-attachment: fixed;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  header {
    transform: translate(20px, 20px);
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .cuerpo {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .speaker-form-header {
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    width: 80%;
    margin: 40px 0;
    padding: 50px;
  }
  
  .speaker-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .speak-form {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    width: 80%;
    padding: 50px;
  }
  
  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type=text],
  .form-row input[type=email] {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 15px;
  }
  
  .form-row textarea {
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 7px;
    min-height: 100%;
    width: 200px;
    resize: none;
    min-width: 100px;
  }
  
  .form-row .instructions {
    color: gray;
    margin-bottom: 30px;
    font-size: 14px;
  }
  
  .form-row button {
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 3, 247);
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer;
  }
  
  .form-row button:hover {
    background-color: dodgerblue;
  }
  
  .form-row button:active {
    background-color: rgb(10, 1, 139);
  }
  
  .centrado {
    position: relative;
    top: 10%;
    left: 20%;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 20%;
    grid-template-areas: unset;
  }
  
  .titulo {
    position: relative;
    top: 50px;
  }
  
  .titnos {
    position: relative;
    top: 50%;
    left: 40%;
    text-decoration: underline;
  }
  
  .hide {
    display: block;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  button, a {
    cursor: pointer;
  }
  
  button:hover, a:hover {
    opacity: 0.5;
  }
  
  section {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  section p {
    font-size: 18px;
  }
  
  section .content {
    margin-bottom: 25px;
    padding: 25px;
    width: 500px;
    background-color: white;
    
  }
  
  section .content #donation-options {
    display: flex;
    justify-content: center;
  }
  
  section .content #donation-options button {
    font-size: 14px;
    font-weight: bold;
    font-family: "Asap", sans-serif;
    width: 150px;
    height: 45px;
    background-color: #05749E;
    color: FFF;
    border: 1px solid #05749E;
  }
  
  section .content #donation-options button:hover {
    background-color: #05749E !important;
    color: #FFFFFF !important;
  }
  
  section .content #information-online {
    display: flex;
    margin: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  section .content #information-online p, section .content #information-online #check-deducible {
    margin: 5px 0;
  }
  
  section .content #information-online h4 {
    color: #009CDE;
    text-align: center;
    font-size: 16px;
  }
  
  section .content #information-online #logo-paypal {
    margin: 15px 0;
    display: flex;
    font-size: 25px;
  }
  
  section .content #information-online #logo-paypal em {
    margin-right: 5px;
    color: #003087;
  }
  
  section .content #information-online #logo-paypal .pay {
    color: #003087;
  }
  
  section .content #information-online #logo-paypal .pal {
    color: #009CDE;
  }
  
  section .content #information-online .additional {
    margin: 5px 0;
  }
  
  section .content #information-online .additional label {
    display: flex;
    height: 30px;
    align-items: center;
  }
  
  section .content #information-online .additional label input {
    margin-left: 5px;
  }
  
  section .content #information-online .information-donation .amount {
    display: flex;
  }
  
  section .content #information-online .information-donation .amount button, section .content #information-online .information-donation .amount input {
    width: 125px;
    height: 35px;
  }
  
  section .content #information-online .information-donation .amount .middle {
    margin: 0 5px;
  }
  
  section .content #information-online .information-donation .amount .delete-left {
    margin-left: 0;
  }
  
  section .content #information-online .information-donation .amount input {
    text-align: center;
    max-width: 125px;
  }
  
  section .content #information-online .information-donation select {
    width: 100%;
    margin: 10px 0;
  }
  
  section .content #information-online #information-donor {
    display: none;
    flex-direction: column;
    font-size: 12px;
    width: 100%;
  }
  
  section .content #information-online #information-donor .row {
    display: flex;
    margin: 10px 0;
  }
  
  section .content #information-online #information-donor .row label {
    width: 250px;
    color: #003087;
    font-weight: bold;
  }
  
  section .content #information-online #information-donor .row input {
    color: #009CDE;
  }
  
  section .content #information-online #donation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 200px;
    background-color: #05749E;
    border: 0;
    height: 50px;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .gatos {
    position: relative;
    top: 40px;
    left: 300px;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 20%;
    grid-template-areas: unset;
  }
  
  .gatosimg {
    position: relative;
    width: 70%;
  }
  
  /*# sourceMappingURL=style.css.map */
   }


  