@media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }
}
h1 {color: chartreuse;text-decoration: underline;
    display: flex;justify-content: center;
}
p{font-style: italic; background-color: burlywood;
    display: flex; flex-direction: row;
    justify-content: center;
}

ol li{text-decoration: underline;list-style: circle;display: flex;
    flex-direction:column;justify-content: center;
}
body {
    background-image: url("images/images.jfif")
    ; background-repeat: no-repeat;background-color: darksalmon;background-size: cover; background-attachment: fixed;
}
.image {width: 50%;}
header{ display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 30%;
   grid-template-areas:unset;
}
section {display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 5%;
    grid-template-areas: unset;
}
footer{ display: grid;
    grid-template-columns: 30%;
    grid-template-rows: 30%;
    grid-template-areas:unset;
}

